<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    
    <div class="container">
        {% block form %}{% endblock %}
        <div class="left-side">
            {% block body %}{% endblock %}
        </div>
        <table>

            <tr>
                <td rowspan="2">{% block result %}{% endblock %}</td>
                <td>{% block result1 %}{% endblock %}</td>
            </tr>
            <tr>
                <td>{% block result2 %}{% endblock %}</td>
            </tr>
        </table>
        
    </div>
    
</body>
</html>
